@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

.navbody,
.navbody::before,
.navbody::after {
  box-sizing: border-box;
}

.navbody {
  margin: 0 ;
  padding: 0;

  background-color: #e9e9f0;
  font-family: "Ubuntu", "sans-serif";
}

.navbar a {
  text-decoration: none;
}

button {
  border: 0;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.navbar {
  height: 80px;
  background-color: hsl(0, 0%, 10%);
  padding: 20px 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.navbar .logo i {
  color: #0aa5ff;
  font-size: 22px;
}

.navbar .logo a {
  font-size: 40px;
  font-weight: 700;
  color: white;
  margin-left: 12px;
  font-family: "Bree Serif", serif;
}

.navbar .menu {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navbar .menu-links {
  display: flex;
  gap: 24px;
  border-right: 1px solid #999999;
  padding-inline: 24px;
}

.menu-links a {
  font-weight: 700;
  font-size: 20px;
  color: #999999;
  padding: 8px 16px;
  font-family: "Ubuntu", serif;

}
.menu-links a:hover {
  color: white;
}
.log-in {
  font-weight: 500;
  padding: 12px 22px;
  background-color: transparent;
  color: #999999;
  border-radius: 10px;
  border: 2px solid #0aa5ff;
  transition: 0.2s;
  font-family: "Ubuntu", serif;
}
.log-in:hover {
  background-color: #0aa5ff;
  color: white;
}

.menu-btn {
  font-size: 32px;
  color: white;
  display: none;
  cursor: pointer;
}

@media (max-width: 53rem) {
  .menu {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}
/* Footer CSS */
footer {
    background-color: #333;
    color: white;
    padding: 40px 0; 
}

footer h5 {
    margin-bottom: 20px; 
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

footer ul li a:hover {
    color: #ddd;
}

footer .bi {
    margin-right: 10px;
    font-size: 1.2rem;
}

footer .text-center p {
    margin: 0;
}  
