{% extends "layout.html" %}
{% block content %}
<div>
    {% comment %} dropdown for filter {% endcomment %}
    {% if show_dropdown %}
    <form  method="post">
        {% csrf_token %}
        <label for="city">City:</label>
        <select id="city" name="city">
            <option value="">Any city</option>
            {% for city in cities %}
                <option value="{{ city.cityID }}">{{ city.city_name }}</option>
            {% endfor %}
        </select>

        <label for="prop_type">Property Type:</label>
        <select name="prop_type" id="prop_type">
          <option value="">Any</option>
          <option value="Plot">Plot</option>
          <option value="House">House</option>
          <option value="Appartment">Appartment</option>
        </select>

        <button type="submit" class='btn btn-success'>Filter</button>
    </form>
    {% endif %}

    {% comment %} property cards {% endcomment %}
    {% if properties %}
    {% for property in properties %}
    <div class="card" style="width: 18rem;">
        {% if property.images.all %}
        <img src="{{ property.images.all.0.images.url }}" alt="Property Image" class="card-img-top">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ property.address }}</h5>
          <p class="card-text">
            <p><strong>Price:</strong> {{ property.price }}</p>
            <p><strong>City:</strong> {{ property.city.city_name }}</p>
            <p><strong>Town:</strong> {{ property.town.town_name }}</p>
            <p><strong>No of Bedrooms: {{property.number_of_bedrooms}}</strong></p>
            <p><strong>No of Bathrooms: {{property.number_of_bathrooms}}</strong></p>
          </p>
          <a href="{% url 'property_detail' property.id %}" class="btn btn-primary">Show Description</a>
          {% if user == property.user %}
          <div>
          <a href="{% url 'edit_property' property.id %}" class="btn btn-warning mt-3">Edit</a>
          <a href="{% url 'prop_delete' property.id %}" class="btn btn-danger mt-3">Delete</a></div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
    {% else %}
    <p>No properties to display</p>
    {% endif %}
</div>
{% if show_dropdown %}
<a href="{% url 'list_all_properties'%}" class='btn btn-primary'>Show More</a>
{% endif %}
{% endblock %}
